<div class="mb-3">
    <h1>Trang chủ</h1>
    <span>Xin chào <%= name %> đã trở lại</span> 
    <form action="dang-xuat" method="post" >
        <button class="btn btn-primary">Đăng xuất</button>
    </form>
</div>